* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
  outline: none;
}
h1 {
  font-size: 30px;
}

.to-do-list {
  margin-top: 50px;
}

.to-do-list__table {
  text-align: center;
  border: 1px solid #000;
  width: 500px;
  max-width: 100%;
  margin: auto;

  min-height: 80vh;
  box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.1);
}

/* .col {
  text-align: right;
} */
.list-input {
  text-align: center;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.list-input {
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  width: 370px;
  max-width: 70%;
  max-height: 100%;
  line-height: 30px;
  margin-left: 50px;
}
ul li {
  list-style-type: none;
  width: 350px;

  text-align: left;
  padding-left: 20px;
  line-height: 35px;
  margin-bottom: 20px;
  border-radius: 3px;

  background-color: burlywood;
}

.complete {
  background-color: greenyellow;
}

.message::after {
  content: " (Complete)";
}
button {
  border: none;
  outline: none;
  background: none;
  height: 100%;
  float: right;
}
.add-btn {
  float: unset;
  /* margin-top: 10px; */
}
